{% extends "base.html" %}

{% load static %}

{% block content %}
  

{% for p in producto  %}



  

<div class="container justify-content-center border-bottom  mt-5 ">
    
    <div class="row rounded d-flex ">
        <div class="col-md-8 border-right bor  text-light rounded ">
            
            
            <div class="card d-flex">
                <a href="{% url 'carrito' p.id %}"><img class="card-img-top justify-content-center " style='max-width:400px;height:auto;' src="{{ p.imagen.url }}"
                    alt=""></a>
            </div>
            
        </div>
        
        <div class="col-sm-4  ">
            <div class="card-body">
                
                <div class="row d-flex" style="text-align: center">
                    <a style='text-decoration:none;margin: auto;' href="{% url 'carrito' p.id %}"><h3 style="text-align: center;" class="card-title text-primary"> {{ p.nombre }}</h3></a>
                </div>
                <hr>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi maxime illum quia molestias cum, quisquam nam sit quam asperiores, vel provident dolore consequatur minus error quas voluptate eum aliquam doloribus!</p>
                
                
                <div class="row text-center">
                    <div class="card-text ml-3 font-weight-bold text-success">Por mayor $ {{ p.precioMayor | floatformat:'2' }}</div>
                    <div class="card-text ml-3 font-weight-bold ">Por menor $ {{ p.precio | floatformat:'2' }}</div>
                </div>
                <small class="text-muted">Cod: {{ p.cod }}</small> 
                <div class="row text-center">
                    <a href="{% url 'marca' p.marca.id %}"><small class="text-muted ml-3">Categoria: {{ p.marca }}</small> 
                    </a>
                </div>
                <hr>
                <div class="contenedor mt-3">
                    <a class="text-light" style='background:#062542;text-decoration: none;' href="{% url 'carrito' p.id %}"><button style='background:#062542;'   class="btn btn-primary mb-4">Ver </a></button>

                </div>
            </div>
        </div>
        
</div>

</div>

{% endfor %}




{% endblock %}